{% extends "base.html" %}
{% block title %}Homepage{% endblock %}

{% block header %}
<h1 style="padding: 20px;" class="center-text"><b>Send a Help Request</b></h1>
<p class="center-text">Individuals who can provide help will recieve an email and text message</p>
{% endblock %}

{% block content %}
<form action="" method="POST" class="center-form">
    <div class="form-group">
      <label for="exampleFormControlInput1">Message Header</label>
      <input type="header" name="header" class="form-control" id="exampleFormControlInput1" placeholder="Type Header Here">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Message Body</label>
      <textarea placeholder="Type Message Body Here" name="body" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}